@model IEnumerable<GS.DATA.Entities.Blog.BlogCategory>

    <li class=" nav-item dropdown">
        <a href="./catalog/" class="nav-link dropdown-toggle navitem-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogg<span class="caret"></span></a>
        <div class="dropdown-menu mega-menu">
            <div class="container">
                <div class="row" style="width: 100%;">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class='row'>
                                <div class="mm-icon">
                                    <img src="~/Assets/gsicons/blogicon.svg" style="color:#1d8e9a" height="50"/>
                                    @*<img src="~/Assets/gsicons/icon 8.png" height="50" />*@
                                </div>
                                <div class='mm-header'>
                                    <h2>Butiker</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    @foreach(var item in Model)
                    {
                    <div class="col-md-4">
                        <div class='row'>
                            <div class="col-md-9">
                                <div class='mm-header'>
                                    <h2>@item.Name</h2>
                                    <a href="#">
                                        <span>All @item.Name</span>
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"><path fill="#005997" d="M17.293 8L10.146.854c-.195-.196-.195-.512 0-.708.196-.195.512-.195.708 0l8 8c.195.196.195.512 0 .708l-8 8c-.196.195-.512.195-.708 0-.195-.196-.195-.512 0-.708L17.293 9H.5C.224 9 0 8.776 0 8.5S.224 8 .5 8h16.793z"></path></svg></span>
                                    </a>
                                </div>
                                <ul class="mm-menu">
                                    @foreach (var subItem in item.BlogPost)
                                    {
                                        <li><a href="#">@subItem.Title</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </li>
