@model GS.DATA.Entities.Delivery.DeliveryFee
@{
    ViewData["Title"] = "Delete";
}
@Html.AntiForgeryToken()
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Delete</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a>Delivery fee</a></li>
                            <li><a href="/Manage/DeliveryFee/Index">Index</a></li>
                            <li><a>Delete</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Delete delivery fee</strong>
                        </div>
                        <div class="card-body">
                            <form asp-area="Manage" asp-controller="DeliveryFee" asp-action="DeleteConfirm" method="post">
                                <div class="form-group">
                                    <label class=" form-control-label">Doors</label>
                                    <input type="text" asp-for="DoorCount" class="form-control" disabled>
                                </div>  
                                <div class="form-group">
                                    <label class=" form-control-label">Fee</label>
                                    <input type="text" asp-for="Fee" class="form-control" disabled>
                                </div> 
                                <div class="form-group">
                                    <label class=" form-control-label">Description</label>
                                    <input type="text" asp-for="Description" class="form-control" disabled>
                                </div>
                                @Html.HiddenFor(s => s.Id)
                                @Html.HiddenFor(s => s.ZoneId)
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <a href="/Manage/DeliveryFee/Index" class="btn btn-warning">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>