<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Garage Specialisten | @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/AdminAssests/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminAssests/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/AdminAssests/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminAssests/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/AdminAssests/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/AdminAssests/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/AdminAssests/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/AdminAssests/plugins/summernote/summernote-bs4.css">
    <link rel="apple-touch-icon" src="~/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
               
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-warning">Logout</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <a href="/manage/home/index" class="brand-link">
                <img src="~/favicon.png" alt="Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Garage Specialisten</span>
            </a>

            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/favicon.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Garage Specialisten</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="/Manage/Home/Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Product Configuration</li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Catelog
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Manage/Color/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Color</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/Model/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Model</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/OperationStyle/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Operation Style</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/ProductType/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Product Type</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/SurfaceType/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Surface Type</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/ProductInstall/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Installation</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-atom"></i>
                                <p>
                                    Product
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Manage/Product/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All product</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/Product/Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add product</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header">Anpassa Garageport </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Configure
                                    <i class="fas fa-plus-square right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Manage/BaseGarageport/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Base port</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Manage/OperationStylePriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Operation Style</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="/Manage/EmergencyLockPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Emergency Lock</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/ExtraRemoteControlPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Extra Remote</p>
                                    </a>
                                </li>*@
                                @*<li class="nav-item">
                                    <a href="/Manage/HandleLockPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Handle Lock</p>
                                    </a>
                                </li>*@
                                <li class="nav-item">
                                    <a href="/Manage/InstalationTypePriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Installtion type</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="/Manage/AccessoriesWindowsPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Accessories: Windows</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/NumberOfWindowsPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Number of windows</p>
                                    </a>
                                </li>*@
                                <li class="nav-item">
                                    <a href="/Manage/SizePriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Size role</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/SurfaceLayerPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Surface Layer</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/PatternPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Pattern role</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/ColorPriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Color role</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="/Manage/OldGateRemovePriceRole/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Old gate</p>
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                        @*<li class="nav-header">Stores</li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-atom"></i>
                                <p>
                                    Configure stores
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Manage/Product/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All store</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/Product/Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Store</p>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="nav-header">Blog</li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-atom"></i>
                                <p>
                                    Configure and manage
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Blog/BlogCategory" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Blog Category</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Blog/BlogPost" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Blog Posts</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header">CMS</li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-atom"></i>
                                <p>
                                    CMS and page builder
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Manage/MainPage/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Home page</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/ContactReason/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Contact Reasons</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Manage/Contacts/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Contacts</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-header">MULTI LEVEL EXAMPLE</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Level 1</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Level 1
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Level 2</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Level 2
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Level 3</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Level 3</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Level 3</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Level 2</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Level 1</p>
                            </a>
                        </li>
                        <li class="nav-header">LABELS</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-danger"></i>
                                <p class="text">Important</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i>
                                <p>Warning</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Informational</p>
                            </a>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.UtcNow : GarageSpecialisten - Management</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> beta -1.0
            </div>
            <strong hidden>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>. All rights reserved.</strong>
           
            <div hidden class="float-right d-none d-sm-inline-block">
                <b hidden>Version 3.0.5</b> 
            </div>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="~/AdminAssests/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminAssests/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="~/AdminAssests/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminAssests/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminAssests/plugins/sparklines/sparkline.js"></script>
    <script src="~/AdminAssests/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminAssests/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/AdminAssests/plugins/moment/moment.min.js"></script>
    <script src="~/AdminAssests/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminAssests/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/AdminAssests/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/AdminAssests/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/AdminAssests/dist/js/adminlte.js"></script>
    <script src="~/AdminAssests/dist/js/pages/dashboard.js"></script>
    <script src="~/AdminAssests/dist/js/demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
