@model GS.DATA.Entities.CustomPort.InstalationTypePriceRole

@{
    ViewData["Title"] = "Update";
}
@Html.AntiForgeryToken()
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Update</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a>Instalation Type Price Role</a></li>
                            <li><a href="/Manage/InstalationTypePriceRole/Index">Index</a></li>
                            <li><a>Update</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Update Instalation Type Price Roles</strong>
                        </div>
                        <div class="card-body">
                            <form asp-area="Manage" asp-controller="InstalationTypePriceRole" asp-action="Update" method="post">

                                <div class="form-group">
                                    <label class=" form-control-label">Name</label>
                                    <input type="text" asp-for="Name" class="form-control" required>
                                </div>
                                @Html.HiddenFor(model => model.Id)
                                <div class="form-group">
                                    <label class=" form-control-label">Price Increase</label>
                                    <input type="number" asp-for="PriceIncrease" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Update</button>
                                    <a href="/Manage/InstalationTypePriceRole/Index" class="btn btn-warning">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>