@model GS.WEB.Models.ViewModel.IndexViewModel
@{
    ViewData["title"] = "Home";
}
<style>
    h1 {
        font-size: 70px;
    }

    .hero-text {
        width: 100%;
    }

    @@media screen and (max-width: 480px) {
        h1 {
            font-size: 22px !important;
            line-height: 80%;
            margin-top: 10px;
        }

        .hero-text {
            width: 100%;
        }
    }
</style>

<header>
    <div class="carousel" data-count="1" data-current="1">

        <div class="items">
            <div class="item active" data-marker="1">
                <img src="~/mainpageimage.jpg" alt="Background" class="background" />

                <div class="content">
                    <div class="outside-content">
                        <div class="inside-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 align-left">
                                        <h1 class="hero-text">
                                            Garageportar för alla behov
                                            Anpassa och beställ direkt online
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul hidden class="markers">
            <li hidden data-marker="1" class="active"></li>
        </ul>
    </div>
</header>


<div style="background-color:#1d8e9a">
    <div class="row" style="margin:0px">
        <div class="col-sm-6 col-md-6" style="background-color:#1d8e9a">
            <div style="height:330px">
                <div class="text-center" style="padding:15px;"><h3 style="color:white"><b>Configure  Garage door+</b></h3></div>
                <div class="text-center" style="padding:15px;">
                    <div class="content align-center">
                        <p style="color:white">COMPACT+ för privat bruk med dubbla dragfjädrar (fjäder-i-fjäder system). Minsta överhöjd – 80 mm. Maximala mått – 4500 x 2500 mm.</p>
                        <a href="/Industrialports/index" class="btn btn-primary btn-lg">Anpassa din port från 5.200 kr</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6" style="background-color:#1B4665">
            <div style="height:330px">
                <div class="text-center" style="padding:15px;"><h3 style="color:white"><b>Customize  Garage door+</b></h3></div>
                <div class="text-center" style="padding:15px;">
                    <div class="content align-center">
                        <p style="color:white">COMPACT+ för privat bruk med dubbla dragfjädrar (fjäder-i-fjäder system). Minsta överhöjd – 80 mm. Maximala mått – 4500 x 2500 mm.</p>
                        <a href="/Industrialports/index" class="btn btn-primary btn-lg">Anpassa din port från 5.200 kr</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product">
    <div class="container">
        <div class="text-center">
            <h2 class="text-themecolor">RECOMMENDATION FOR YOU</h2>
        </div>
        <hr class="offset-md">

        <div class="row products">
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 product">
                <div class="product-box">
                    <a href="#" style="color:white;">
                        <img src="~/Assets/garageportar.jpg" alt="garage door" />

                        <div class="content">
                            <p class="price">6700 KR</p>
                            <label style="color:black">M -profile door</label>
                        </div>
                        <button class="btn btn-themecolor btn-block btn-square"><h4>Go to product</h4></button>
                    </a>
                </div>
            </div>

            @*<div class="col-sm-6 col-md-3 product">
                <a href="./"><img src="~/Assets/assets/img/products/chrome-book-14.jpg" alt="HP Chromebook 14" /></a>

                <div class="content">
                    <h1 class="h4">HP Chromebook 14</h1>
                    <p class="sale">$209.99</p>
                    <p class="price through">$249.99</p>
                    <label>Laptops</label>

                    <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                    <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 product">
                <a href="./"><img src="~/Assets/assets/img/products/chrome-book-asus.jpg" alt="HP Chromebook 14" /></a>

                <div class="content">
                    <h1 class="h4">Asus Chromebook</h1>
                    <p class="price">$299.99</p>
                    <label>Laptops</label>

                    <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                    <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 product">
                <a href="./"><img src="~/Assets/assets/img/products/chrome-book-14.jpg" alt="HP Chromebook 14" /></a>

                <div class="content">
                    <h1 class="h4">HP Chromebook 14</h1>
                    <p class="sale">$209.99</p>
                    <p class="price through">$249.99</p>
                    <label>Laptops</label>

                    <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                    <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                </div>
            </div>*@
        </div>
    </div>
</section>

<section class="product">
    <div class="container">
        <div style="">

            <div class="row">

                <div class="col-sm-12 col-md-12 item">
                    <div class="body" style="background-color:#ffffff;padding-top:5px;">
                        <div class="body" style="background-color:#ffffff">
                            <div class="text-center"><h2>Instruction</h2><p>Here will be some text on installation</p></div>
                            <img class="img-responsive" src="~/instructionimage_image.png" title="Image instruction" alt="Instruction image">

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>


<section class="blog background-theme">
    <div class="container">
        <h2 class="h2 upp align-center"> Blog Headlines </h2>
        <hr class="offset-lg">

        <div class="row">

            <div class="col-sm-6 col-md-6 item">

                <div class="body">
                    <a href="#">
                        <img src="~/Assets/assets/img/blog/img1.jpg" title="prodc" alt="bolg">
                    </a>

                    <div class="caption">
                        <h2 class="h3">The next generation of Multi-Touch</h2>
                        <label> 07.01.2017</label>
                        <hr class="offset-sm">

                        <p>
                            The original iPhone introduced the world to Multi-Touch, forever changing the way people experience technology. With 3D Touch, you can do things that were never possible before. It senses how deeply you press the display, letting you do all kinds of essential things more quickly and simply. And it gives you real-time feedback in the form of subtle taps from the all-new Taptic Engine.
                        </p>
                        <hr class="offset-sm">

                        <a href="#"> View article </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 item">

                <div class="body">
                    <a href="#">
                        <img src="~/Assets/assets/img/blog/img2.jpg" title="Coffee" alt="Coffee">
                    </a>

                    <div class="caption">
                        <h2 class="h3">MacBook Pro - brand new day for business.</h2>
                        <label> 02.01.2017</label>
                        <hr class="offset-sm">

                        <p>
                            Organizations everywhere are realizing the potential that Mac brings to their employees by giving them the freedom to use the tools they already know and love. Software and hardware made for each other. Because Apple designs both the software and hardware, every Mac delivers the best possible experience for employees.
                        </p>
                        <hr class="offset-sm">

                        <a href="#"> View article <i class="ion-ios-arrow-right"></i> </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="align-right align-center-xs">
            <hr class="offset-sm">
            <a href="./blog/"> <h5 class="upp">View all blogs </h5> </a>
        </div>
    </div>
</section>

